/* global classes */

button, button:focus{
    outline: none !important;
    box-shadow: none !important;
}
a {
    text-decoration: none;
}
.box-item-image{
    height: 200px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 35px;
}
