/*      SPECIAL PRICE TEMPLATE      */

#special-price{
    .grid .grid-item{
        // margin-left: 1.3rem;
        margin: 1rem auto;
    }
}



.special-price-item{
    width: 250px!important;
    margin: 10px;
}

.teste{
    margin: 0 auto;
    padding: 50px;
}