/*      Top sale Template       */

#top-sale{
    .owl-carousel .item .product a{
        overflow: hidden;
    }
}
.owl-carousel .item .product .box-item-image{
    transition: transform .5s ease;
}
.owl-carousel .item .product .box-item-image:hover{
    transform: scale(1.1);

}
.owl-carousel .owl-nav button{
    position: absolute;
    top: 30%;
    outline: none;
}
.owl-carousel .owl-nav button.owl-prev{
    left: 0;
}
.owl-carousel .owl-nav button.owl-prev span{
    color: $color-primary;
    font-size: 65px;
    margin-left: -2rem;
    padding: 0 auto;
}
.owl-carousel .owl-nav button.owl-next{
    right: 0;
    
}
.owl-carousel .owl-nav button.owl-next span{
    color: $color-primary;
    font-size: 65px;
    margin-right: -2rem;
    padding: 0 auto;
}
